@use "../partials/functions" as f;
@use "../partials/mixins" as m;

.bioCard {
	/* Variables "locales" */
	--bg-color: var(--blue-800);
	--gradient-color1: var(--green-500);
	--gradient-color2: var(--cyan-500);
	--gradient-color3: var(--pink-500);
	--gradient-color4: var(--orange-500);
	--button-color: var(--pink-500);
	--button-color-alt: var(--black);
	--image-filter: saturate(0);
	--separator-opacity: 1;
	@media (prefers-color-scheme: dark) {
		--bg-color: var(--white);
		--gradient-color1: var(--pink-500);
		--gradient-color2: var(--orange-500);
		--gradient-color3: var(--green-500);
		--gradient-color4: var(--cyan-500);
		--button-color: var(--blue-500);
		--button-color-alt: var(--white);
		--image-filter: saturate(1);
		--separator-opacity: 0.6; // le séparateur paraît plus fin s'il est un peu transparent
	}
	/* Utilisation des variables... */
	background-color: var(--bg-color);
	@include m.flexbox(column, nowrap, flex-start, stretch);
	width: f.rem(320);
	color: var(--blue-500);
	border-radius: var(--main-radius);
	overflow: hidden;
	position: relative;
	padding: f.rem(32);
	&__header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: f.rem(16);
		@include m.flexbox(row, nowrap, flex-end, flex-start);
	}
	&__button {
		@include m.resetButton;
		@include m.pillButton(var(--white), var(--button-color));
		&--alt {
			@include m.pillButton(
				linear-gradient(
					to bottom,
					var(--gradient-color1),
					var(--gradient-color2)
				),
				var(--button-color-alt),
				true
			);
		}
	}
	&__figure {
		align-self: center;
		margin-bottom: f.rem(24);
		img {
			@include m.roundImage(100rem);
			width: f.rem(176);
			aspect-ratio: 1/1;
			object-fit: cover;
			filter: var(--image-filter);
		}
	}
	&__h1 {
		line-height: 1;
		text-align: center;
		margin-top: 0;
		margin-bottom: f.rem(12);
		font-size: f.rem(24);
		@include m.textGradient(
			bottom,
			var(--gradient-color3),
			var(--gradient-color4)
		);
	}
	&__h2 {
		line-height: 1;
		font-weight: 400;
		text-align: center;
		font-size: f.rem(20);
		margin-top: 0;
		margin-bottom: f.rem(24);
	}
	&__hr {
		width: 100%;
		border-color: var(--blue-500);
		border-bottom: none; // Sinon, on a le border-top et le border-bottom qui s'ajoutent
		margin: 0 0 f.rem(16);
		opacity: var(--separator-opacity);
	}
	&__p {
		text-align: center;
		margin: 0 0 f.rem(48);
	}

	&__footer {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(
				-187deg,
				var(--gradient-color4) -10%,
				var(--gradient-color3) 60%
			);
			margin: f.rem(-32); // Déborde des limites de son parent
			margin-bottom: f.rem(-60);
			transform: skewY(7deg);
		}
	}

	&__ul {
		@include m.resetList;
		@include m.flexbox(row, nowrap, center, center, #{f.rem(24)});
		position: relative;
	}
}
