@use "fonts" as f;

body {
	font-family: f.$font1;
	background-color: var(--body-bg-color);
	color: var(--text-color);
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.4;
}
