@use "functions" as f;

@mixin flexbox($direction, $wrap, $justify, $align, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

@mixin resetButton {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

@mixin resetList {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin roundImage($radius) {
	border-radius: $radius;
	overflow: hidden;
}

@mixin textGradient($direction, $startColor, $endColor) {
	background: linear-gradient(
		to #{$direction},
		#{$startColor} 0%,
		#{$endColor} 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin pillButton($background, $color, $bigIcon: false) {
	display: inline-flex;
	background: $background;
	width: f.rem(32);
	aspect-ratio: 1/1;
	border-radius: 50rem; // Valeur grande au regard des dimensions du bloc
	transform: translateY(0);
	transition: transform 0.5s; // Cette valeur pourrait être dans une variable plus globale...
	svg {
		margin: auto;
		height: 50%;
		width: auto;
		@if ($bigIcon) {
			height: auto;
			width: 75%;
		}
		path {
			fill: $color;
		}
	}
	&:hover {
		transform: translateY(-0.25rem);
	}
}
